body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    color: #fff;
    font-size: 20px;
}

h1,
p {
    text-align: center;
    margin-bottom: 20px;
}

.boxed {
    background-color: #2b2b2b;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: auto;
}

label {
    display: block;
    background-color: #4f6fff;
    color: #333;
    text-align: center;
    margin-bottom: 5px;
    border: 1px solid #000000;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 0 auto 5px auto;
    width: 25%;
    font-weight: bold;
    transition: all 0.3s ease;
}

label:hover {
    background-color: #ddd;
    border-color: #bbb;
}

input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #2196F3;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

input[type="submit"]:hover {
    background-color: #1E88E5;
}

button,
a {
    display: block;
    background-color: #4f6fff;
    color: #333;
    text-decoration: none;
    text-align: center;
    border: 1px solid #000000;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 0 auto 5px auto;
    font-weight: bold;
    transition: all 0.3s ease;
}

button:hover,
a:hover {
    background-color: #ddd;
    border-color: #bbb;
}

.note {
    text-align: center;
    font-size: 0.8em;
}

select,
input[type="number"] {
    display: block;
    margin: 0 auto;
    width: 20%;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.result {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.select2-container {
    display: block;
    width: 20% !important;
    text-align: center;
}

.select2-container--default .select2-selection--single {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 4%;
    font-size: 16px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #333;
    line-height: 4%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 4%;
}

.select2-dropdown {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none;
    font-size: 16px;
    color: #333;
}

.select2-results__option--highlighted {
    background-color: #4f6fff !important;
    color: white !important;
}

.select-container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .boxed {
        width: 90%;
        padding: 20px;
        margin-top: 10%;
    }

    label,
    button,
    a,
    input[type="number"],
    .select2-container,
    select {
        width: 60%;
    }

    input[type="number"],
    select {
        height: 40px;
        font-size: 16px;
    }

    .select2-container--default .select2-selection--single {
        height: 40px !important;
        font-size: 16px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 38px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 38px !important;
    }

    .select2-container {
        width: 60% !important;
    }

    .select2-dropdown {
        font-size: 16px !important;
    }
}