<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>GradeMaster: Calculate Your Grades with Qudurat Scores</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1197243616981062"
     crossorigin="anonymous"></script>
</head>

<body>
    <h1>GradeMaster: Calculate Your Grades with Qudurat Scores</h1>
    <p>Enter your grades and Qudurat scores to calculate your final high school GPA and final score with Qudurat.</p>
    <form method="POST" action="/">
        <label for="grades">Grades</label>
        <input type="text" name="grades" id="grades" placeholder="Enter GPA's of 9, 10, 11, 12 (e.g. 4 4 3.9 3.9)">
        <label for="math_qudurat">Math Qudurat</label>
        <input type="text" name="math_qudurat" id="math_qudurat" placeholder="Enter Math Qudurat score (0-100)">
        <label for="english_qudurat">English Qudurat</label>
        <input type="text" name="english_qudurat" id="english_qudurat" placeholder="Enter English Qudurat score (0-100)">
        
        <label>Degree</label>
        <div class="degree-options">
            <div class="custom-checkbox">
                <label class="custom_size_label" for="engineering">Engineering</label>
                <input type="checkbox" class="checkmark" id="engineering" name="degree" value="Engineering">
            </div>

            <div class="custom-checkbox">
                <label class="custom_size_label" for="medicine">Medicine</label>
                <input type="checkbox" class="checkmark" id="medicine" name="degree" value="Medicine">
            </div>
        </div>

        <input type="submit" value="Submit">
    </form>
</body>

</html>