<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>GradeMaster: Home</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1197243616981062"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="boxed">
        <h1>Welcome to Mo3adal.com</h1>
        <p>Calculate your final high school scores and final score with Qudurat.</p>
        <div class="navigation">
            <a href="{{ url_for('public_tool') }}">Public School</a>
            <a href="{{ url_for('private_tool') }}">American School</a>
        </div>
        <p class="note">This app is made with love by Kuwaitis for Kuwaitis.</p>
    </div>

</body>

</html>