<!DOCTYPE html>
<html>

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PPPPK1KP75"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-PPPPK1KP75');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1197243616981062"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">
    <title>Public Grades</title>
</head>

<body>
    <h1>Public Grades</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Grade 1</th>
                <th>Grade 2</th>
                <th>Grade 3</th>
                <th>Math Qudurat</th>
                <th>English Qudurat</th>
                <th>Degree</th>
                <th>Final Score</th>
                <th>Percentage</th>
            </tr>
        </thead>
        <tbody>
            {% for public_grade in public_grades %}
            <tr>
                <td>{{ public_grade.name }}</td>
                <td>{{ public_grade.grade1 }}%</td>
                <td>{{ public_grade.grade2 }}%</td>
                <td>{{ public_grade.grade3 }}%</td>
                <td>{{ public_grade.math_qudurat }}%</td>
                <td>{{ public_grade.english_qudurat }}%</td>
                <td>{{ public_grade.degree }}</td>
                <td>{{ public_grade.final_score }}%</td>
                <td>{{ public_grade.gpa }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript"> var infolinks_pid = 3416196; var infolinks_wsid = 0; </script>
    <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
</body>

</html>