<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1197243616981062"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">
    <title>Public Grade</title>
</head>
<body>
    <h1>Public Grade</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Grade 1</th>
                <th>Grade 2</th>
                <th>Grade 3</th>
                <th>Math Qudurat</th>
                <th>English Qudurat</th>
                <th>Degree</th>
                <th>Final Score</th>
                <th>GPA</th>
            </tr>
        </thead>
        <tbody>
            {% for public_grade in public_grades %}
            <tr>
                <td>{{ public_grade.name }}</td>
                <td>{{ public_grade.grade1 }}%</td>
                <td>{{ public_grade.grade2 }}%</td>
                <td>{{ public_grade.grade3 }}%</td>
                <td>{{ public_grade.math_qudurat }}%</td>
                <td>{{ public_grade.english_qudurat }}%</td>
                <td>{{ public_grade.degree }}</td>
                <td>{{ public_grade.final_score }}%</td>
                <td>{{ public_grade.gpa }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>